<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LowerValue" value="1" />
    <add key="UpperValue" value="49" />
    <add key="Balls" value="6" />
  </appSettings>
</configuration>